h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .container {
    max-width: 780px; } }

@media screen and (max-width: 900px) {
  .container {
    max-width: 80%; } }

@media screen and (max-width: 650px) {
  .container {
    max-width: 90%; } }

.mobile-menu {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: #008aff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .mobile-menu__list {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .mobile-menu__item {
    position: relative; }
    .mobile-menu__item::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      width: 0%;
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s; }
    .mobile-menu__item:hover::after {
      width: 100%; }

.header {
  height: 100vh;
  position: relative;
  background-color: #008aff;
  border-bottom-left-radius: 200px;
  color: #fff; }
  .header__main {
    height: 100%; }
  .header__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15%;
    z-index: 2;
    background-color: #008aff; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .header__logo {
    width: 45px;
    height: 26px; }
  .header__logo-link {
    margin-right: 78px;
    z-index: 3; }
  .header__info-container {
    height: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__info {
    max-width: 362px; }
  .header__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    font-size: 18px;
    line-height: 150%;
    margin: 32px 0 83px; }
  .header__slider {
    position: absolute;
    left: 57%;
    right: 0;
    bottom: 0;
    height: 85%;
    background: url(../images/slider/Photo.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 200px; }
  .header__burger {
    display: none; }
  @media screen and (max-width: 1050px) {
    .header__logo-link {
      margin-right: 60px; } }
  @media screen and (max-width: 900px) {
    .header__burger--icon:before {
      content: "";
      background: url(../images/hamburger.svg) no-repeat center;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      right: 10%;
      top: 35%;
      cursor: pointer;
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .header__burger--icon:after {
      content: "";
      background: url(../images/close.svg) no-repeat center;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      right: 10%;
      top: 35%;
      cursor: pointer;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
      z-index: 3; }
    .header__burger:checked ~ .mobile-menu {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }
    .header__burger:checked ~ .header__burger--icon::before {
      opacity: 0; }
    .header__burger:checked ~ .header__burger--icon::after {
      opacity: 1; }
    .header__info-container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
    .header__info {
      text-align: center; }
    .header__navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 10%;
      height: 50px;
      opacity: 0.9; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 637px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__list--header {
      margin-right: 318px; }
  .nav__link {
    position: relative; }
    .nav__link::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      width: 0%;
      height: 2px;
      background: #ff9c8e;
      border-radius: 4px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s; }
    .nav__link:hover::after {
      width: 100%; }
  @media screen and (max-width: 1300px) {
    .nav__list {
      width: 600px; }
      .nav__list--header {
        margin-right: 160px; } }
  @media screen and (max-width: 1050px) {
    .nav__list {
      width: 500px; }
      .nav__list--header {
        margin-right: 80px; } }
  @media screen and (max-width: 900px) {
    .nav {
      display: none; } }
  @media screen and (max-width: 768px) {
    .nav__list {
      width: auto; } }
  @media screen and (max-width: 500px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .nav__item {
      margin-bottom: 10px; } }

.btn {
  width: 226px;
  height: 56px;
  background-color: #ff9c8e;
  color: #fff;
  border-radius: 64px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  position: relative; }
  .btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 20%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url(../images/right-icon.svg) no-repeat center;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .btn:hover::after {
    opacity: 1; }

.link {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase; }

.slider__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72px;
  left: 48px;
  bottom: 66px; }

.slider__arrow {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .slider__arrow:focus, .slider__arrow:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 10px #008aff;
            box-shadow: 0 0 10px #008aff;
    outline: none; }
  .slider__arrow--red:focus, .slider__arrow--red:hover {
    -webkit-box-shadow: 0 0 10px #ff9c8e;
            box-shadow: 0 0 10px #ff9c8e; }

.slider__info {
  position: absolute;
  left: 144px;
  bottom: 48px; }

.slider__heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  margin-bottom: 8px; }

.slider__text {
  font-size: 14px;
  line-height: 140%;
  max-width: 264px; }

@media screen and (max-width: 900px) {
  .slider {
    display: none; } }

.about__info {
  margin: 148px auto;
  max-width: 754px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%; }
  @media screen and (max-width: 900px) {
    .about__info {
      margin: 70px auto;
      max-width: 530px; } }

.about__heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }

.expertise {
  padding: 128px 0 134px;
  background-color: #fff; }
  .expertise__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center; }
  .expertise__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .expertise__item {
    padding: 25px;
    width: 264px;
    text-align: center;
    border-radius: 24px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .expertise__img {
    width: 184px;
    height: 166px;
    border-radius: 24px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .expertise__item:hover {
    background-color: #e5e5e5; }
    .expertise__item:hover .expertise__img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin: 40px 0 16px; }
  .expertise__text {
    font-size: 14px;
    line-height: 150%; }
  @media screen and (max-width: 1050px) {
    .expertise {
      padding: 50px 0; }
      .expertise__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.services__info {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.services__title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  margin-bottom: 16px; }

.services__heading {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  color: #253757;
  margin-bottom: 24px; }

.services__text {
  font-size: 14px;
  line-height: 150%;
  color: #6c788b; }
  .services__text--modify {
    display: block;
    margin-bottom: 25px; }

.services__items {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.services__item {
  width: 264px;
  height: 264px;
  padding: 32px;
  margin: 15px;
  background-color: #fff;
  border-radius: 24px;
  z-index: 1; }
  .services__item:nth-child(odd) {
    -webkit-transform: translateY(132px);
            transform: translateY(132px); }

.services__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 24px;
  border-radius: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .services__number--blue {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1); }
  .services__number--yellow {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1); }
  .services__number--green {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .services__number--red {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1); }

.services__list {
  margin: 24px 0 32px;
  font-weight: 600; }

.services__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: url(../images/right-icon.svg) no-repeat center;
  -webkit-transition: width 0.4s;
  transition: width 0.4s; }
  .services__link::after {
    content: "Learn more";
    position: absolute;
    left: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 88px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }
  .services__link:hover {
    width: 100%;
    background-image: none; }
    .services__link:hover::after {
      color: #fff; }
  .services__link--blue {
    background-color: #56ccf2; }
  .services__link--yellow {
    background-color: #fcc91d; }
  .services__link--green {
    background-color: #15d850; }
  .services__link--red {
    background-color: #f36363; }

@media screen and (max-width: 1050px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services__info {
    margin: 0 auto;
    margin-top: 100px; }
  .services__items {
    margin-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .services__item:nth-child(odd) {
    -webkit-transform: translateY(82px);
            transform: translateY(82px); } }

@media screen and (max-width: 1050px) {
  .services__item {
    margin-bottom: 40px; }
    .services__item:nth-child(odd) {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

.approach {
  position: relative;
  padding: 204px;
  margin-left: 8%;
  margin-top: 40px;
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  color: #fff; }
  .approach__title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .approach__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    max-width: 362px;
    margin-bottom: 32px; }
  .approach__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .approach__item:last-child {
      margin-bottom: 0; }
  .approach__img {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 34px;
    background-color: #fff;
    border-radius: 50%; }
  .approach__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 22px;
    height: 22px; }
  .approach__text {
    max-width: 264px;
    font-size: 15px;
    line-height: 150%; }
  .approach__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 70%;
    background: url(../images/slider/Photo2.jpg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 200px; }
  @media screen and (max-width: 1200px) {
    .approach {
      margin-left: 0;
      padding: 100px; } }
  @media screen and (max-width: 900px) {
    .approach {
      text-align: center; }
      .approach__heading {
        margin: 0 auto 35px; }
      .approach__list {
        margin: 0 auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; } }
  @media screen and (max-width: 600px) {
    .approach {
      padding: 80px 20px; }
      .approach__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .approach__img {
        margin-right: 0;
        margin-bottom: 20px; } }

.testimonials {
  padding: 148px 0; }
  .testimonials__title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 16px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }
  .testimonials__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    max-width: 180px;
    margin-bottom: 85px; }
  .testimonials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .testimonials__img-container {
    position: relative; }
  .testimonials__img {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 50px 0 82px;
    border-radius: 50%;
    z-index: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s; }
  .testimonials__line {
    position: absolute;
    width: 139px;
    height: 56px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
    .testimonials__line--blue {
      background-color: #56ccf2; }
    .testimonials__line--yellow {
      background-color: #fcc304; }
    .testimonials__line--red {
      background-color: #f25656; }
    .testimonials__line:first-child {
      top: 36px;
      left: 0; }
    .testimonials__line:last-child {
      top: 130px;
      right: 0; }
  .testimonials__item {
    width: 315px;
    padding: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .testimonials__item:hover {
      color: #fff; }
      .testimonials__item:hover .testimonials__line {
        opacity: 0; }
      .testimonials__item:hover .testimonials__img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .testimonials__item--blue:hover {
      background-color: #56ccf2; }
    .testimonials__item--yellow:hover {
      background-color: #fcc304; }
    .testimonials__item--red:hover {
      background-color: #f25656; }
  .testimonials__quotes {
    margin-bottom: 11px; }
  .testimonials__text {
    margin-bottom: 16px; }
  .testimonials__name {
    margin-bottom: 4px;
    color: #253757;
    font-weight: 600; }
  .testimonials__position {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  @media screen and (max-width: 1050px) {
    .testimonials {
      padding-top: 80px;
      text-align: center; }
      .testimonials__heading {
        margin: 0 auto; }
      .testimonials__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .testimonials__item {
        margin-top: 30px; } }

.vision {
  position: relative;
  padding: 198px 0;
  background-color: #fff; }
  .vision__container {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
  .vision__heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 24px;
    z-index: 1;
    position: relative; }
  .vision__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    z-index: 1;
    position: relative;
    margin-bottom: 64px; }
  .vision__btn {
    z-index: 1;
    position: relative; }

.item-smallest:nth-child(1) {
  position: absolute;
  width: 45px;
  height: 18px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #fcc304;
  background-color: transparent;
  opacity: 0.5;
  left: 27%;
  top: 11%; }

.item-smallest:nth-child(2) {
  position: absolute;
  width: 45px;
  height: 18px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 3px solid #fcc304;
  background-color: transparent;
  opacity: 0.5;
  left: 30%;
  bottom: 25%; }

.item-smallest:nth-child(3) {
  position: absolute;
  width: 45px;
  height: 18px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #bc04fc;
  background-color: transparent;
  opacity: 0.5;
  right: 35%;
  bottom: 18%; }

.item-smallest:nth-child(4) {
  position: absolute;
  width: 45px;
  height: 18px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 3px solid #bc04fc;
  background-color: transparent;
  opacity: 0.5;
  right: 7%;
  top: 16%; }

.item-small {
  position: absolute;
  width: 67px;
  height: 27px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 3px solid #56ccf2;
  background-color: transparent;
  opacity: 0.5;
  left: 5%;
  bottom: 36%; }

.item-medium:nth-child(6) {
  position: absolute;
  width: 86px;
  height: 34px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #f25656;
  background-color: transparent;
  opacity: 0.5;
  left: 15%;
  top: 11%; }

.item-medium:nth-child(7) {
  position: absolute;
  width: 86px;
  height: 34px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 3px solid #bc04fc;
  background-color: transparent;
  opacity: 0.5;
  left: 8%;
  bottom: 11%; }

.item-medium:nth-child(8) {
  position: absolute;
  width: 86px;
  height: 34px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #fcc304;
  background-color: transparent;
  opacity: 0.5;
  right: 4%;
  top: 40%; }

.item-medium:nth-child(9) {
  position: absolute;
  width: 86px;
  height: 34px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #f25656;
  background-color: transparent;
  opacity: 0.5;
  right: 20%;
  bottom: 31%; }

.item-large:nth-child(10) {
  position: absolute;
  width: 143px;
  height: 56px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #03d542;
  background-color: transparent;
  opacity: 0.5;
  left: 17%;
  top: 41%; }

.item-large:nth-child(11) {
  position: absolute;
  width: 143px;
  height: 56px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #03d542;
  background-color: transparent;
  opacity: 0.5;
  right: 14%;
  top: 19%; }

.item-large:nth-child(12) {
  position: absolute;
  width: 143px;
  height: 56px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  border-radius: 500px;
  border: 2px solid #56ccf2;
  background-color: transparent;
  opacity: 0.5;
  right: 9%;
  bottom: 16%; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    outline: none;
    margin-bottom: 48px; }
    .form__input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .form__input::-moz-placeholder {
      color: #fff;
      opacity: 0.7; }
    .form__input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .form__input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .form__input::placeholder {
      color: #fff;
      opacity: 0.7; }
    .form__input:last-of-type {
      margin-bottom: 0; }
    .form__input:active, .form__input:focus {
      border-bottom-color: #ff9c8e; }
  .form__btn {
    margin-top: 80px; }
  @media screen and (max-width: 768px) {
    .form__btn {
      margin: 0 auto;
      margin-top: 30px; } }

.footer {
  background-color: #fff; }
  .footer__container {
    padding: 180px 0 228px;
    background-color: #008aff;
    border-top-right-radius: 200px;
    color: #fff; }
  .footer__wrapper {
    position: relative;
    height: 100%; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .footer__title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 56px; }
  .footer__contact-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }
  .footer__contact-link {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 48px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
    .footer__contact-link:hover {
      color: #ff9c8e; }
  .footer__socials-list {
    margin-top: 21px; }
  .footer__socials-item {
    margin-right: 45px; }
    .footer__socials-item:last-child {
      margin-right: 0; }
    .footer__socials-item:hover {
      color: #ff9c8e; }
  .footer__socials-icon {
    font-size: 24px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
  .footer__menu {
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__container {
      padding: 60px 0 200px; }
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__item:first-child {
      margin-bottom: 50px; }
    .footer__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .footer__nav {
      width: 100%; }
      .footer__nav__list {
        width: 100%; }
    .footer__logo {
      margin-top: 30px; } }
  @media screen and (max-width: 500px) {
    .footer__container {
      padding: 60px 0; }
    .footer__menu {
      position: relative;
      bottom: -30px; } }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;
  scroll-behavior: smooth; }

body {
  background-color: #e5e5e5; }

/*# sourceMappingURL=main.css.map */
